/.vs
/SE.Test/bin
/SE.Test/obj
/SE.Service/bin
/SE.Service/obj
/SE.Repository/bin
/SE.Repository/obj
/SE.Model/bin
/SE.Model/obj
/SE.Demo/obj
/SE.Demo/bin
/SE.Common/obj
/SE.Common/bin
/TestResults
/SE.Api/bin
/SE.Api/obj
/SE.Cmd/obj
/SE.Cmd/bin
